.input {
    @apply mr-auto ml-auto;
    @apply text-4xl;
    @apply drop-shadow-md;
    @apply indent-4 rounded;
    width: 100%;
    min-width: 200px;
    max-width: 100%;
    height: 100px;
}
.input-wrapper {
    @apply flex items-center;
    @apply p-2;
}